
body {
    background-image: url('/Images/CreateCow1.jpeg'); /* Dodaj tutaj link do zdjęcia */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

  
}



